<div class="mdl-layout mdl-js-layout">
<main class="mdl-layout__content">
<div class="page-content">
  <div class="mdl-grid">
    <article class="demo-card-wide mdl-card mdl-shadow--2dp">
      <header class="mdl-card__title">
        <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
      </header>

      <form #handleLogin="ngForm" (ngSubmit)="login(handleLogin);" autocomplete="off" class="mdl-card__supporting-text">

            <section *ngIf="mensagemErro" class="mdl-textfield is-invalid">
              <p class="mdl-textfield__error">
                {{mensagemErro}}
              </p>
            </section> 
 
          <app-form-group label='E-mail: ' idCampo='email' [validacao]="email.invalid && (email.touched || email.dirty)">
              <input autofocus #email="ngModel" email [(ngModel)]="username" name="email" required cmailFormField>
              <span *ngIf="email.getError('required')" class="mdl-textfield__error">Informar um e-mail é obrigatório!</span>
              <span *ngIf="email.getError('email')" class="mdl-textfield__error">E-mail no formato incorreto!</span>
            </app-form-group>
            
          <app-form-group label='Senha: ' idCampo='senha' [validacao]="pass.invalid && pass.touched">
              <input #pass="ngModel" [(ngModel)]="senha" name="senha" type="password" required cmailFormField> 
              <span class="mdl-textfield__error">Informar uma senha é obrigatório!</span>
           </app-form-group>

        <div class="mdl-card__actions mdl-card--border">
          <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Primeiro login? Cadastre-se!
          </a>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
            Entrar
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
</main>
</div>
